body{
    background-color: rgba(36, 3, 156);
    color:white;
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: black;
    color: white;
    font-family: "New Amsterdam", sans-serif;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}